lightning-utilities
matplotlib
matplotlib-inline
MedPy
ml-collections
numpy
opencv-python
opencv-python-headless
pandas
Pillow
pytorch-fid
pytorch-lightning
pytorch-training
PyYAML
scikit-image
scikit-learn
scipy
statsmodels
# Editable install with no version control (synthesis-in-style-lightning==0.0.1)
# -e /data/work/WPI_inpainting/final_application/synthesis_in_style_lightning/stylegan_code_finder

tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorboardX
torch
torchmetrics
torchvision
tqdm
wandb