torch
torchvision
git+https://github.com/Bartzi/pytorch-training.git
statsmodels
csaps
Flask
h5py
imgaug
ipython
kornia
MedPy
ml-collections
numpy
opencv-python-headless
pandas
Pillow
protobuf
pycocotools
pytest
pytorch-fid
PyYAML
requests
scikit-image
scikit-learn
scipy
tabulate
tensorboard
tqdm


